<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextLearn activation email</title>

<style type="text/css">
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        background-color: #FAFAFA;
        color: #222222;
    }
    a {
        color: #000;
        text-decoration: none;
    }
     h1{
        font-size: 24px;
        font-weight: 700;
        line-height: 1.5;
        margin-top: 0;
        margin-bottom: 20px;
        text-align: center;

     }
    p {
        margin-top: 0;
        margin-bottom: 24px;
    }

    table td {
        vertical-align: top;
          }

          .email-wrapper {
            min-width: 600px;
            margin: 0 auto;
          }

          .email-header{
            background-color: #0070f3;
            padding: 20px;
            color: #ffffff;

          }

          .email-body {
padding: 20px;
            background-color: #ffffff;
          }
            .email-footer {
                background-color: #f6f6f6;
                padding: 20px;
            }

            .buttons{
                display: inline-block;
                padding: 10px 20px;
                background-color: #0070f3;
                color: #ffffff;
                border-radius: 5px;
                text-decoration: none;
                transition: background-color 0.3s ease;
                cursor: pointer;
                font-size: 16px;
                font-weight: 700;
                text-align: center;
            }
          
</style>
</head>
<body>
    <div class="email-wrapper">
        <div class="email-header">
            <h1>Welcome to NextLearn</h1>
        </div>
        <div class="email-body">
            <p>Hi <%= user.name %>,</p>
            <p>Thank you for registering with us. To activate your account, please use the code below:</p>
           <h2><%=activationCode%></h2>
            <p>If you did not create an account, please ignore this email.</p>

        </div>
        <div class="email-footer">
            <p>&copy; 2025 NextLearn. All rights reserved.</p>
        </div>
    </div> 
</body> 
</html>